In [1]:
import pandas as pd
import numpy as np

# Creating a sample dataset
data = {
    'Name': ['Akash', 'Sivaji', 'Bala', 'Vikram', 'David', np.nan, 'Eve', 'Frank', 'Grace', 'Henry', 'Isla'],
    'Age': [25,33, 30, 35, np.nan, 29, 40, 50, np.nan, 28, 30],
    'Gender': ['F', 'M', 'M', np.nan, 'M', 'F', 'F', 'M', 'F', np.nan, 'M'],
    'Income': [50000, 80000, 60000, 70000, 80000, 90000, np.nan, 110000, 120000, 130000, 140000],
    'City': ['New York', 'Tamilnadu', 'Los Angeles', 'Chicago', 'Houston', 'New York', 'Los Angeles', np.nan, 'Houston', 'Chicago', 'New York']
}

df = pd.DataFrame(data)

print("Original Dataset:")
print(df)

Original Dataset:
      Name   Age Gender    Income         City
0    Akash  25.0      F   50000.0     New York
1   Sivaji  33.0      M   80000.0    Tamilnadu
2     Bala  30.0      M   60000.0  Los Angeles
3   Vikram  35.0    NaN   70000.0      Chicago
4    David   NaN      M   80000.0      Houston
5      NaN  29.0      F   90000.0     New York
6      Eve  40.0      F       NaN  Los Angeles
7    Frank  50.0      M  110000.0          NaN
8    Grace   NaN      F  120000.0      Houston
9    Henry  28.0    NaN  130000.0      Chicago
10    Isla  30.0      M  140000.0     New York

Data Cleaning Steps
1. Handling Missing Values
First, we'll identify missing values in the dataset and decide how to handle them.

In [2]:
# Identify missing values
missing_values = df.isnull().sum()
print("\nMissing Values in Each Column:")
print(missing_values)

# Drop rows with missing 'Name' values (assuming 'Name' is a critical field)
df_cleaned = df.dropna(subset=['Name'])

# Fill missing 'Age' and 'Income' values with the mean of their respective columns
df_cleaned['Age'].fillna(df_cleaned['Age'].mean(), inplace=True)
df_cleaned['Income'].fillna(df_cleaned['Income'].mean(), inplace=True)

# Fill missing 'Gender' values with the most common value (mode)
df_cleaned['Gender'].fillna(df_cleaned['Gender'].mode()[0], inplace=True)

# Fill missing 'City' values with 'Unknown'
df_cleaned['City'].fillna('Unknown', inplace=True)

print("\nDataset After Handling Missing Values:")
print(df_cleaned)

Missing Values in Each Column:
Name      1
Age       2
Gender    2
Income    1
City      1
dtype: int64

Dataset After Handling Missing Values:
      Name     Age Gender         Income         City
0    Akash  25.000      F   50000.000000     New York
1   Sivaji  33.000      M   80000.000000    Tamilnadu
2     Bala  30.000      M   60000.000000  Los Angeles
3   Vikram  35.000      M   70000.000000      Chicago
4    David  33.875      M   80000.000000      Houston
6      Eve  40.000      F   93333.333333  Los Angeles
7    Frank  50.000      M  110000.000000      Unknown
8    Grace  33.875      F  120000.000000      Houston
9    Henry  28.000      M  130000.000000      Chicago
10    Isla  30.000      M  140000.000000     New York

<ipython-input-2-8fdb0c204755>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Age'].fillna(df_cleaned['Age'].mean(), inplace=True)
<ipython-input-2-8fdb0c204755>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Income'].fillna(df_cleaned['Income'].mean(), inplace=True)
<ipython-input-2-8fdb0c204755>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Gender'].fillna(df_cleaned['Gender'].mode()[0], inplace=True)
<ipython-input-2-8fdb0c204755>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['City'].fillna('Unknown', inplace=True)

2. Handling Inconsistencies
Next, we'll address any inconsistencies in the data. For example, standardizing categorical values or correcting typos.

In [3]:
# Example: Standardize 'Gender' column values to 'Male' and 'Female'
df_cleaned['Gender'] = df_cleaned['Gender'].replace({'M': 'Male', 'F': 'Female'})

# Remove any leading/trailing spaces in the 'City' column
df_cleaned['City'] = df_cleaned['City'].str.strip()

print("\nDataset After Handling Inconsistencies:")
print(df_cleaned)

Dataset After Handling Inconsistencies:
      Name     Age  Gender         Income         City
0    Akash  25.000  Female   50000.000000     New York
1   Sivaji  33.000    Male   80000.000000    Tamilnadu
2     Bala  30.000    Male   60000.000000  Los Angeles
3   Vikram  35.000    Male   70000.000000      Chicago
4    David  33.875    Male   80000.000000      Houston
6      Eve  40.000  Female   93333.333333  Los Angeles
7    Frank  50.000    Male  110000.000000      Unknown
8    Grace  33.875  Female  120000.000000      Houston
9    Henry  28.000    Male  130000.000000      Chicago
10    Isla  30.000    Male  140000.000000     New York

<ipython-input-3-235338d08dd7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Gender'] = df_cleaned['Gender'].replace({'M': 'Male', 'F': 'Female'})
<ipython-input-3-235338d08dd7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['City'] = df_cleaned['City'].str.strip()

3. Removing Duplicates
Finally, we'll check for and remove any duplicate rows.

In [4]:
# Check for duplicates
duplicates = df_cleaned.duplicated().sum()
print(f"\nNumber of Duplicate Rows: {duplicates}")

# Remove duplicates
df_cleaned = df_cleaned.drop_duplicates()

print("\nDataset After Removing Duplicates:")
print(df_cleaned)

Number of Duplicate Rows: 0

Dataset After Removing Duplicates:
      Name     Age  Gender         Income         City
0    Akash  25.000  Female   50000.000000     New York
1   Sivaji  33.000    Male   80000.000000    Tamilnadu
2     Bala  30.000    Male   60000.000000  Los Angeles
3   Vikram  35.000    Male   70000.000000      Chicago
4    David  33.875    Male   80000.000000      Houston
6      Eve  40.000  Female   93333.333333  Los Angeles
7    Frank  50.000    Male  110000.000000      Unknown
8    Grace  33.875  Female  120000.000000      Houston
9    Henry  28.000    Male  130000.000000      Chicago
10    Isla  30.000    Male  140000.000000     New York